<div class="container mt-3" style="width:450px;">
  
    <div class="card bg-light" >
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title text-center text-title">{{title}}</h4>                
        <form name="updateForm" class="mt-4" #updateForm="ngForm" autocomplete="off">   
    
    <label for="passwd" class="control-label required form-label text-label mt-2" style="font-weight:bold;">Crear Contraseña</label>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock icons-login"></i> </span>
            </div>
            <input 
              id="passwd"
              name="passwd"
              class="form-control form-input" 
              placeholder="Crear contraseña" 
              type="password"
              role="presentation"                                                                                   
              autocomplete="off"   
              minlength="8"
              maxlength="60"
              required 
              password               
              pattern="^(?=\D*\d)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z]).{8,30}$"
              #contrasena = "ngModel"
              [(ngModel)] = "password" 
              [class.is-valid]="contrasena.valid"
              [ngClass]="{'is-invalid': contrasena.invalid && (contrasena.dirty || contrasena.touched), 
                            'is-valid': contrasena.valid, '' : contrasena.untouched}"
              style="width: 300px;"                      
              [ngStyle]="{'background-color': contrasena.valid ? '#E8F0FE' : '#FFFFFF'}">

            <div class="alert alert-danger" style="width: 100%;" *ngIf= "contrasena.invalid && (contrasena.dirty || contrasena.touched)">
              <div *ngIf = "contrasena.errors?.['required']">
                Digite la `contraseña` por favor!!!
              </div>
              <div *ngIf = "contrasena.errors?.['minlength']">
                -La `contraseña` debe contener como minimo 8 caracteres
              </div>
              <div *ngIf = "contrasena.errors?.['maxlength']">
                -La `contraseña` debe de contener como maximo 60 caracteres
              </div>
              <div *ngIf = "contrasena.errors?.['pattern']">
                -La contraseña debe de contener al menos un numero, una letra mayuscula y 
                una letra minuscula <br />-La contraseña no puede contener espacios
              </div>
            </div>                    
          </div> 

        <label for="newPasswd" class="control-label required form-label text-label mt-2" style="font-weight:bold;">Confirmar contraseña</label>  
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock icons-login"></i> </span>
            </div>
            <input 
              id="newPasswd"
              name="newPasswd"
              class="form-control form-input" 
              placeholder="Confirmar contraseña"                       
              type="password"
              role="presentation"                                                                                   
              autocomplete="off"   
              required 
              password  
              #nuevaContrasena = "ngModel"
              [(ngModel)] = "newPasswd" 
              [class.is-valid]="nuevaContrasena.valid"
              [ngClass]="{'is-invalid': nuevaContrasena.invalid && (nuevaContrasena.dirty || nuevaContrasena.touched), 
                            'is-valid': nuevaContrasena.valid, '' : nuevaContrasena.untouched}"
              style="width: 300px;"
              (input)="onTextChange($event)"                      
              [ngStyle]="{'background-color': nuevaContrasena.valid ? '#E8F0FE' : '#FFFFFF'}">

              <div class="alert alert-danger" style="width: 100%;" *ngIf= "nuevaContrasena.invalid && (nuevaContrasena.dirty || nuevaContrasena.touched)">
                <div *ngIf = "nuevaContrasena.errors?.['required']">
                  Digite la `contraseña` por favor!!!
                </div>
                <div *ngIf = "nuevaContrasena.errors?.['minlength']">
                  -La `contraseña` debe contener como minimo 8 caracteres
                </div>
                <div *ngIf = "nuevaContrasena.errors?.['maxlength']">
                  -La `contraseña` debe de contener como maximo 30 caracteres
                </div>
                <div *ngIf = "nuevaContrasena.errors?.['confirmedValidator']">
                  -La `contraseña` y la `contraseña confirmada` debe de coincidir
                </div>
                <div *ngIf = "nuevaContrasena.errors?.['pattern']">
                  -La contraseña debe de contener al menos un numero, una letra mayuscula y 
                  una letra minuscula <br />-La contraseña no puede contener espacios
                </div>
              </div>
        </div> <!-- form-group// -->   
    </form>

    <div class="form-group input-group">
        <div class="col text-center">        
                <button name="Actualizar" [disabled]= "!updateForm.form.valid" class="btn btn-primary btn-length3 mt-3 display: flex; justify-content: center;" (click)="onSubmit()" >Actualizar</button>            
        </div>
        <div class="col text-center">        
            <button name="Cancelar"  class="btn btn-primary btn-length3 mt-3 display: flex; justify-content: center;" (click)="check()" >Cancelar</button>            
        </div>
    </div>